<div class="container-fluid" style="margin-top: 1%;">
    <div class="row text-center">
        <div class="col-as-12 col-sm-12 col-md-12">
            <p><img src="../../assets/images/success.png" width="80" height="80"></p>
            <p>Thank you, <span style="font-weight: bold;">{{clientName}}!</span></p>
            <p>Your <span style="font-weight: bold;">${{totalPrice}}</span>order is confirmed</p>
            <p>Please allow 1-3 business day(s) for shipping</p>
            <p><input type="button" class="btn btn-primary" [routerLink]="'/'" value="Back to product list"></p>
        </div>
    </div>
</div>>
